/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: #f8f9fc;
    color: #222;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Common */
section{
    padding: 80px 8%;
}

h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

/* ======================
        NAVBAR
====================== */

header{
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    max-width: 1200px;
    margin: auto;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 170px;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

.nav-menu a{
    color: #222;
    font-weight: 500;
    transition: .3s;
}

.nav-menu a:hover{
    color: #5f42ff;
}

.btn{
    background: #5f42ff;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.btn:hover{
    background: #4028d5;
}

/* ======================
        HERO
====================== */

.hero{
    height: 90vh;
    background:
    linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
    url("../assets/banner.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-content{
    max-width: 800px;
}

.hero-content h1{
    color: white;
    font-size: 64px;
    margin-bottom: 20px;
}

.hero-content p{
    color: white;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.hero-btn{
    display: inline-block;
    background: #5f42ff;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.hero-btn:hover{
    background: #4028d5;
}
